<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book</title>
  </head>
  <body>
    <h1><%=book.title%></h1>
    <p>Author:<%=book.author%></p>
    <a href="/update/<%=book.id%>">Edit</a>
    <a href="/delete/<%=book.id%>">Delete</a>
    <a href="/">Back to List</a>
  </body>
</html>
